@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

$font-family: "Readex Pro", sans-serif;
$light-red: #E94A5C;
$yellow:#FDC749;
$megnatic-blue:#180839;
$sky-blue:#0092FF;
$electric-green:#00FF2b;
$font-white: #ffffff;
$font-grey: #808080;
$font-black: #000000; 